blockquote
  border-left 0.25rem solid #3eaf7c
  font-size 1rem

details
  padding 10px 0

  summary
    cursor pointer
    user-select none
    &:focus
      outline none
  ul
    margin-left 1.5em
    margin-bottom 0